.MarginButton{
    position: absolute;
    right: 8em;
    top: 0px;
    background-color: transparent;
    color: #0677cf;
    border: none;
    display: block;
}

.MarginButton:hover {
    background-color: transparent;
    color: #0677cf;
}

.MarginButton:focus{
    outline: none;
    background: none;
    border: none;
}
