
#tableCoins{
    position: relative;
    bottom: 50em;
    left: 18em;
    max-width: 82%;


}

#tableProperties{
    width: 60em;
    word-wrap: break-word;
    word-break: break-all;
}

.thead-dark {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,133,152,1) 0%, rgba(0,0,0,1) 61%);
    color: white;

}

.table:first-child{
    border-top-right-radius: 100px;
}
