
#tableCoins{
    position: relative;
    bottom: 50em;
    left: 18em;
    max-width: 82%;


}

#tableProperties{
    width: 60em;
    word-wrap: break-word;
    word-break: break-all;
}



.table:first-child{
    border-top-right-radius: 100px;
}
